.view-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}

.bold-container {
    display: inline;
    padding-left: 7px;
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

detail-content {
    align-items: space-between;
}
